.hero
    background: #f1f1f1 url('../img/hero/hero.jpg') no-repeat center
    background-size: cover
    padding-top: 200px
    padding-bottom: 270px
    &__title
        max-width: 550px
        margin-bottom: 40px
        font-size: 30px
        text-align: justify
        color: #ffffff
    &__subtitle
        display: block
        margin-bottom: 70px
        font-size: 30px
        color: #ffffff
@media (max-width: 991px)
    background-size: 100%
    background-position: top right
